#userList {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, .25);
  z-index: 1;
}

  #userList .user {
    margin: 10px;
    background-color: blue;
    color: white;
  }

  #userList .selected {
    border: 2px #01FF70 solid;
  }

#round {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 200px;
  overflow-y: scroll;
  background-color: #FF0000;
  z-index: 0;
}